body, html {
  margin: 0;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: #16286D;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

/* .app::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16286D;
  pointer-events: none;
  opacity: 0.2;
} */

.app::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.hdqwalls.com/wallpapers/purple-city-sy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
